h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

span {
    font-size: 0.85rem;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

#main {
    padding: 0 8px;
}

#content {
    margin: 12px 12px 64px 12px;
}

#landing-page {
    .hero {
        width: 100%;
        margin: 0 0 16px 0;
    }
}

#registration, #login {
    .container:last-child {
        margin-top: 16px;
    }
}

#create {
    margin: 16px 0;
}

#edit-user {
    .btn:first-child {
        margin: 0 0 16px 0;
    }
    .btn:nth-child(2) {
        margin: 16px 0 0 0;
    }
}

#tasks {
    h4 {
        font-weight: 400;
    }
    .icon:hover, .icon:focus {
        background: var(--secondary);
    }
}

.btn {
    padding: 32px 48px;
    width: 100%;
    margin: 8px 0;
    &:hover {
        background: transparent;
    }
}
.btn-primary:hover {
    color: var(--primary);
}
.btn-secondary:hover {
    color: var(--secondary);
}
.btn-outline-primary:hover {
    background: var(--primary);
}
.btn-outline-secondary:hover {
    background: var(--secondary);
}

.icon {
    cursor: pointer;
}

.form {
    .form-control {
        padding: 24px 16px;
    }
}

.card {
    margin: 16px 0 ;
    border-radius: 16px;
    h4, p {
        margin: 0;
        padding: 0;
    }
    .container {
        padding: 12px 16px;
    }
    .card-title, .card-body {
        padding: 8px;
        margin: 0;
    }
    .icon {
        border-radius: 4px;
        border: 1px solid var(--dark);
        &:hover {
            background: var(--primary);
        }
    }
}

.navbar-custom {
    background: #fff;
    box-shadow: 0 -1.5px 3px map-get($grays, '300');
    .btn {
        background: transparent;
        border: none;
    }
    .navbar-nav {
        margin: 0 auto;
    }
    .nav-item {
        margin: 0 25px;
    }
}

.task-lists {
    a {
        color: var(--dark);
    }
    h4 {
        font-weight: 400;
    }
    .icon:hover, .icon:focus {
        background: var(--secondary);
    }
    .card {
        &:hover, &:focus {
            border: 1px solid var(--dark);
            background: var(--primary);
        }
    }
}

.banner {
    margin: 16px 0 48px 0;
    .logo {
        width: 35%;
    }
}

@media (min-width: 576px) {
    .navbar-custom {
        .nav-item {
            margin: 0 50px;
        }
    }
}

@media (min-width: 768px) {
    #landing-page {
        .btn {
            margin: 0 8px;
        }
    }

    #dashboard {
        display: grid;
        grid-template-columns: 30% 70%;
        column-gap: 24px;
        grid-template-areas:  "header taskLists";
    }

    #header {
        grid-area: header;
        .btn {
            width: 100%;
        }
    }

    #task-lists {
        grid-area: taskLists;
    }

    #task-list {
        display: grid;
        grid-template-columns: 30% 70%;
        column-gap: 24px;
        grid-template-areas: "taskForm tasks";
    }

    #task-form {
        grid-area: taskForm;
        .btn {
            width: 100%;
        }
    }

    #tasks {
        grid-area: tasks;
    }

    .btn {
        width: 30%;
        padding: 24px 48px;
    }

    .banner {
        .logo {
            width: 15%;
        }
    }

    .navbar-custom {
        .nav-item {
            margin: 0 75px;
        }
    }
}

@media (min-width: 992px) {
    #landing-page {
        .hero {
            width: 75%;
        }
    }

    .navbar-custom {
        .nav-item {
            margin: 0 100px;
        }
    }
}
